@import url("https://fonts.googleapis.com/css?family=Shrikhand:regular");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

@import "./utils/vaiables";
@import "./pages/loader-home";
@import "./utils/mixins";

              
*{
  box-sizing: border-box;
}

body{
  margin:1% auto;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  max-width: 1500px; 
}

.location{
  
  margin: 3px auto 0px auto;
  background-color: #E9E9E9;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  #maplogo{
     margin-right: 10px;}
  
  &__specific-location{
    align-items: center;
    background-color: #E9E9E9;
    font-family: "shrikhand";
    margin: 1% auto;
   
  }
}

.restaurant-explore{
  
  margin: 1% auto;
   background-color: #F6F6F6;
   height: 250px;
   display: flex;
   flex-direction: column;
    &__book-text{
    margin: 2% auto;
    
    font-family: "shrikhand";}
   
    
    &__parag-book-text{
    margin: 3px auto 3px auto;
    }
   }
      
.container-explore-button{
  margin: 0.1% auto 3% auto;
  flex-basis: 15%;
  width: 60%; 
  &__explore-button{
    width: 90%;
    max-width: 90%;
    padding: 5% 2%;
    margin: 3% 5% 3% 7%;
    @include pinkButton;
    }
   &__explore-button:hover{
      opacity: 0.75;
      box-shadow: 0 4px 16px 0 $primary-color;
        
      }
}

.how-it-works{
  display: flex;
  flex-direction: column;
   &__steps{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    align-items: center;
   }
}

.button-with-number{
  flex-basis: 20%;
  width: 85%;
  max-width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
   &__step-number{
    background-color: $primary-color ;
    color: white;
    border-radius: 50% 50%;
    padding: 5px 3px 5px 7px;
  
    width: 25px;
    height: 25px;
    align-items: center;
    }
    &__buttons-container{
      width: 100%;
      height: 100%;
    }
    &__button{
      border-radius: 25px 25px;
      border: 2px solid #F2F2F2;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      flex-basis: 99%;
      min-width:99%;
      height: 100%;
      display: flex;
      
      align-items: center;
      transition: opacity 300ms ease-in-out;
      object-fit: fill;
    }
    &__button:hover{
      background: linear-gradient(white, $secondary-color);
      background: -moz-linear-gradient(white, $secondary-color);
      box-shadow: 0 7px 11px 0 rgba(0,0,0,0.2);
      opacity: 0.3;
    }
    &__bt-text{
      font-weight: bold;
     
     
    }
          
    &__icon{
      margin-right: 25px;          
    }        
    &__icon:hover{
      color: $primary-color;
    } 
  }       
            
             
 .restaurants-pics{
  display: flex;
  flex-direction: column;
  height:1500px;
  flex-wrap: nowrap;
  width: auto;
  justify-content:space-between;
}

.restaurant-card{
  border-radius: 15px 15px 0px 0px;
  flex-basis: 20%;
  max-height: 20%;   
  border: 2px solid #F2F2F2;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  margin: 1% auto;
  width: 90%;
  max-width: 90%;
  &__image{
    border-radius:15px 15px 0px 0px;
    
    width: 100%;
    max-width:100%;
    height: 70%;
    max-height: 70%;
    object-fit: cover;
    
  }
  &__image-information{
    object-fit: contain;
    
    margin-top: 0px;
    margin-left: 5%;
    margin-bottom: 20%;
    padding: 3px 3px;
    text-decoration: none;}
  
  .New{
    background: $tertiary-color;
    
    object-fit: contain;
    position: absolute;
    top: 10%;
    left: 80%;
    width: 40px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  
  .heart-icon{
    
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 0px;
    border-radius:20px 20px 100px 100px;
    
    }
  .heart-container{
    position: relative;
    
    height:25px;
    width: 25px;
    margin-left: 70%;
    margin-bottom: 20%;
  } 
  .heart-filled{
    position: absolute;
    top: 0;
    left: 0;
    color: $secondary-color;
    opacity: 0;
  }
  .heart-filled:hover{
    animation-name: fill-red;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    
    animation-fill-mode: forwards;
  }
  }

@keyframes fill-red{
  0%{
      opacity: 0.1;
  }
  25%{
      opacity: 0.3
  }
  50%{
      opacity: 0.5;
  }
  75%{
      opacity: 0.75
  }
  100%{
      opacity: 1;
  }
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height:200px;
  margin-top: 40px;
  margin-bottom: 3px;
  background-color: black;

  &__list{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-basis: 60%;
  background-color: black;
  color: white;
  list-style: none;
  width: 100%;}

   &__list-title{
  font-family: "shrikhand";
  color: white;
  text-decoration: none;
   background-color: black;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 16px;
 
  }
   &--list-item{
  text-decoration: none;
  color: white;
  }
  &--icon-food{
  padding-right: 10px;
 }
  &--icon-hands{
  padding-right: 10px;
 } 
  }
 /*-----------------------------------------------------------------------MENU-----------------------------------*/
   
  .menu-header{
    display: flex;

    &__button-container{
    
      width: 100%;
    }
    &__button{
      width: 99%;
      border: none;
      background-color: white;
      display: flex;
      
    }
    &__arrow{
      color: black;
      align-self: center;
    }
    &__logo{
      font-family: "shrikhand";
      font-size: 30px;
      
      padding-right: 20%;
      padding-left: 20%;
    }
  }
  
  
  .menu-outer-container{
    height:2400px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #F6F6F6;
    justify-content: flex-start;
  }

  .menu-card{
   flex-basis: 18%;
   max-height: 18%;
   position: relative;
   width: 100%;

   &__image{
   width: 100%;
   height: 60%;
    object-fit: cover;     
      }

    &__image-information{
    height: 20%;
    max-height: 20%;
    margin-top: 0%;
    font-size: 22px;
    font-family: "shrikhand";
    border-radius: 30px 30px 0 0 ;
    padding: 20px 10px;
    background-color: #F6F6F6;
    margin-top: -5%;
    position: absolute;
    width: 100%;
    }
  }
      
  .menu-heart-icon{
    position: absolute;
    left: 80%;
    top:30%;
    font-size: 22px;
  }

  .menu-heart-filled{
  position: absolute;
  left: 80%;
  top: 30%; 
  opacity: 0;
  color: $secondary-color;
  font-size: 22px;
  }

  @keyframes fill-red-menu{
  0%{
      opacity: 0.1;
  }
  25%{
      opacity: 0.3
  }
  50%{
      opacity: 0.5;
  }
  75%{
      opacity: 0.75
  }
  100%{
      opacity: 1;
  }
  }
  .menu-heart-filled:hover{
  animation-name: fill-red;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  }
  .menu-courses{
    flex-basis: 83%;
    
    min-height: 83%;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    &--course-link{
    text-decoration: none;
    color: black;
    }
    &__course-title{
    margin-top: 20%;
    border-bottom:  2px solid $tertiary-color;
    width: 9%;
    padding-bottom: 1%;
    padding-right: 20px;
    font-size: 14px;
    margin-left: 1%;
    text-transform: uppercase;
  }
    
  }
  
  .entrees{
   @include course-design;
  }
  .main-dish{
   @include course-design;
  }
  .desserts{
   @include course-design;
  }
  .entrees__item{
  @include item-design;
  animation-name: appearing-menu;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
  }
  
  .main-dish__item{
  @include item-design;
  animation-name: appearing-menu;
  animation-delay: 6s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;  
  }
  .desserts__item{
  @include item-design;
  animation-name: appearing-menu;
  animation-delay: 9s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  }   
      
  .item-information{
    
  flex-basis: 70%;
  height: 100%;
  margin-left: 13%;
  transition-property: transform;
  transition-delay: 1s;
  transition-duration: 1s;
  position: relative;

  &--name{
   padding-left: 2%;
   font-weight: bold;
   font-size: 14px;
      }

  &--price{
    position: absolute;
    left: 95%;
    width: 50px;
      }
  }

  @keyframes appearing-menu{
  0% {
      opacity: 1;
      transform: translateY(0px);
      
  }
  50%{
      opacity: 1;
      transform: translateY(10px);
  }
  
  100%{
      opacity: 1;
      transform: translateY(0px);
      box-shadow: 8px 8px 12px 8px rgba(51, 48, 48, 0.2);
    
      
  }}
 
  .menu-bar{
    background-color: $tertiary-color;
    flex-basis: 20%;
    max-width: 20%;
    border-radius: 0 30px 30px 0;
    border: 2px solid $tertiary-color;
    height: 100%;
    min-height: 100%;
    position: absolute;
    left: 100%;
    top: 0%;
    overflow: hidden;
    opacity: 0;
    padding: 20px 35px;
    transition-property: all;
    transition-duration: 1s;
     transition-timing-function: ease-in-out;
    
     
  }
   
  .check{
   color: white;
   font-size: 20px; 
   padding-bottom: 10px;
   transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: linear;
    
  }
     
  .entrees__item:hover .menu-bar{
    transform: translate(-100%);
    -moz-transform: translate(-100%);
    opacity: 1;
  }
  .entrees__item:hover .check{
    transform: rotate(360deg);
    display: inline-block;
  }
  .entrees__item:hover .item-information{
    
    transform: translateX(-18%);
    
  }
  
  .main-dish__item:hover .menu-bar{
  transform: translate(-100%);
  -moz-transform: translate(-100%);
  opacity: 1;
  }
  .main-dish__item:hover .check{
  transform: rotate(360deg);
  display: inline-block;
  }
  .main-dish__item:hover .item-information{
  
  transform: translateX(-18%);
  
  }
  .desserts__item:hover .menu-bar{
  transform: translate(-100%);
  -moz-transform: translate(-100%);
  opacity: 1;
  }
  .desserts__item:hover .check{
  transform: rotate(360deg);
  display: inline-block;
  }
  .desserts__item:hover .item-information{
  
  transform: translateX(-18%);
  
  }
  
  .menu-order-button{
  width: 70%;
  max-width: 70%;
  padding: 5% 2%;
  margin: 3% 5% 3% 7%;
  border-radius: 25px 25px;
  @include pinkButton;
  
  }
  .container-menu-order-button{
  margin: 3% auto;
  width: 70%;
  
  }
  
  .menu-order-button:hover{
    opacity: 0.75;
    box-shadow: 0 4px 16px 0 $primary-color;
      
  }
/*-------------------------------------------------------------------------------Media query--------------*/
  @media screen and (min-width: 768px) and (max-width: 991px){
 
    .container-explore-button{
        flex-basis: 15%;
        width: 50%;
        &__explore-button{
          width: 90%;
        }
    }
      
  
    .how-it-works{
        display: flex;
        flex-direction: column;
        &__steps{
          display: flex;
          flex-direction: column;
            
          height: 250px;
          align-items: center;
       
      }   
    }
    
    .button-with-number{
        flex-basis:  25%;
         
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
         
    }
    
      .restaurants-pics{
        display: flex;
        flex-direction: row;
        height:750px;
        flex-wrap: wrap;
        width: auto;
        justify-content:space-between;
        &__header{
          align-self: flex-start;
          flex-basis: 100%;
      }
    }
    .restaurant-card{
        flex-basis: 40%;
        height: 45%;
        min-height: 45% ;
        
    }
    
    .footer__list-title{
        
        margin-left: 45%;
          
    }
    .footer__list{
        align-items: center;
    }
    .menu-header__logo{
      margin-right: 40%;
      padding-right: 20%;
      padding-left: 20%;
    }
    .menu-header__arrow{
      padding-left: 100px;
      padding-right: 30px;
    }

    .menu-outer-container{
        
      height: 3000px;
    }
    
    .menu-card{
      flex-basis: 18%;
      max-height: 18%;
       position: relative;
       width: 100%;
    
   } 
   .menu-card__image{
     height: 80%;
     
   }  
   .entrees__item{
    width: 60%;
    margin: 2% auto;
    
  }
  .main-dish__item{
    width: 60%;
    margin: 2% auto;
  }
  .desserts__item{
    width: 60%;
    margin: 2% auto
  }
  .menu-bar{
    padding: 20px 50px;
  }
  
  .container-menu-order-button{
    margin: 10% auto 0% auto;
    flex-basis: 15%;
    width: 40%;
    
}
  }
       
    @media screen and (min-width: 992px) and (max-width: 3000px){
        .container-explore-button{
            flex-basis: 15%;
            width: 30%;
           &__explore-button{
              width: 90%;
          }   
            
        }
          
      .how-it-works{
        display: flex;
        flex-direction: column;
        &__steps{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          height: 150px;
          align-items: center;
            
      }   
    }
   
    .button-with-number{
        flex-basis: 30%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
            
    }
    .restaurants-pics{
        display: flex;
        flex-direction: row;
        height:750px;
        flex-wrap: wrap;
        width: auto;
        justify-content:space-between;
        &__header{
          align-self: flex-start;
          flex-basis: 100%;
      }
    }
    .restaurant-card{
        flex-basis: 40%;
        height: 45%;
        min-height: 45% ;
        
    }
    
    .footer__list-title{
        
        margin-left: 45%;
          
    }
    .footer__list{
        align-items: center;
    }
    .menu-header__logo{
      margin-right: 40%;
      padding-right: 20%;
      padding-left: 20%;
    }
    .menu-header__arrow{
      padding-left: 100px;
      padding-right: 100px;
    }
    .menu-outer-container{
      
      
      height: 3000px;
    }

    .menu-card{
      flex-basis: 18%;
      max-height: 18%;
       position: relative;
       width: 100%;
     
       
   } 
   .menu-card__image{
     height: 90%;
   }  
   .entrees__item{
    width: 40%;
    margin: 0.5% auto;
    flex-basis: 15%;
    max-height: 15%;
    
  }
  .main-dish__item{
    width: 40%;
    margin: 0.5% auto;
    flex-basis: 15%;
    max-height: 15%;
    
  }
  .desserts__item{
    width: 40%;
    margin: 0.5% auto;
    flex-basis: 15%;
    max-height: 15%;
    
  }
  .menu-bar{
    padding: 20px 50px;
  }
   
   
  
  .container-menu-order-button{
    margin: 7% auto 0% auto;
    flex-basis: 3%;
    max-height: 3%;
    width: 40%;
    
  }
  
.menu-heart-icon{
  position: absolute;
  left: 70%;
  top: 30%;
  font-size: 22px;
}
.menu-heart-filled{
position: absolute;
left: 70%;
top: 30%; 
opacity: 0;
color: #FF79DA;
font-size: 22px;
}
  }

   













 
 
   